.transparent {
  opacity: .75;
}
.white {
  color: white;
}
.blue {
  color: #134ecc;
  fill: #134ecc;
}
.light-blue {
  color: #4A90E2;
}
.red {
  color: #FF6B61;
}
.dark-blue {
  color: #000C27;
}
.bg-purple {
  background-color: #3C225F;
}
.bg-blue {
  background-color: #134ecc;
}
.bg-red {
  background-color: #FF6B61;
}
.bg-grey {
  background-color: #e8e8e8;
}
.bg-white {
  background-color: white;
}
.bg-nyc-1 {
  background-image: url('../img/nyc-bg-1.svg'), url('../img/nyc-bg-2.svg');
  background-size: 40%;
  background-position: center bottom, center;
  background-repeat: no-repeat;
  transition: all ease .43s;
  transition-duration: 1s;
}
.bg-nyc-1.long {
  transition-duration: 1s;
}
.bg-nyc-1:hover {
  background-position: center 50px, center 5px;
  background-size: 50%;
}
.bg-nyc-1 h3 {
  transform: translateX(-0.5rem);
}
.bg-blue-transparent {
  background-color: #134ecc;
  background-blend-mode: color;
}
.bg-grad-blue-purp {
  background: linear-gradient(-65deg, #4A90E2 0%, #4A90E2 50%, #134ecc 50%, #134ecc 100%);
  background-position: -300px;
  background-size: 200% 100%;
}
.bg-grad-purp-blue {
  background: linear-gradient(45deg, rgba(231, 74, 66, 0.5) 0%, rgba(231, 74, 66, 0.5) 50%, rgba(73, 143, 226, 0.5) 50%, rgba(73, 143, 226, 0.5) 100%);
}
body {
  background-color: #ffffff;
  border-left: 2rem solid #134ecc;
  border-right: 2rem solid #134ecc;
}
.flex {
  display: flex;
}
.hidden {
  display: none;
}
.line {
  border: none;
  border-top: 1px solid white;
}
.line.blue {
  border-color: #134ecc;
}
.line.dark-grey {
  border-color: #b8b8b8;
}
.line.dashed {
  border-width: thick;
  border-style: dashed none none none;
}
.icon {
  max-height: 2rem;
  max-width: 3rem;
}
.col-3 iframe {
  overflow: hidden;
  position: absolute;
}
.play-button {
  text-decoration: none;
  font-weight: 900;
  margin-left: .6rem;
  transition: all ease .43s;
}
.play-button.long {
  transition-duration: 1s;
}
.play-button:hover {
  margin-left: .9rem;
}
.play-button:after {
  content: '';
  position: absolute;
  transform: translateX(-24px) translateY(-4px);
  border: 1px solid white;
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
}
.border-offset:after {
  content: '';
  position: absolute;
  border: 1px solid #134ecc;
  width: 400px;
  height: 100px;
}
.main-content-top {
  z-index: 2;
}
.main-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  overflow-y: hidden;
  z-index: -1;
}
.main-video:before {
  content: '';
  position: absolute;
  background: rgba(30, 54, 125, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
body {
  font-family: Museo Sans, 'sans-serif';
  font-weight: 500;
  line-height: 1.45;
  color: #282828;
}
.courier {
  font-family: serif;
  background-color: red;
}
.courier h1,
.courier h2,
.courier h3,
.courier h4 {
  margin: 0 !important;
}
p {
  margin-bottom: 1.3em;
}
h1,
h2,
h3,
h4 {
  margin: 0.5rem 0 1.414rem;
  font-weight: inherit;
  line-height: 1.2;
}
:first-of-type h2 {
  margin: 1.414em 0 .5em 0;
}
.col-3 h3 {
  margin-bottom: 0;
}
.col-3 h4 {
  margin-bottom: 1.414em;
}
h1,
.h1 {
  margin-top: 0;
  font-size: 3.998em;
}
h2,
.h2 {
  font-size: 2.827em;
  font-weight: 300;
}
h3,
.h3 {
  font-size: 1.999em;
}
h4,
.h4 {
  font-size: 1.414em;
}
figure {
  font-size: 1.999em;
}
small,
.font-small {
  font-size: 0.707em;
}
.bold {
  font-weight: 500;
}
.normal {
  font-weight: 400;
}
.light {
  font-weight: 300;
}
.caps {
  text-transform: uppercase;
}
ul {
  list-style: none;
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
}
header {
  padding: 1rem 12.5%;
  display: flex;
  justify-content: space-between;
}
#head {
  position: relative;
}
.main-content-top {
  z-index: 2;
}
.fix-top {
  position: fixed;
  z-index: 1;
}
section {
  margin-bottom: 2rem;
}
.full {
  padding: 2rem 12.5% 6rem;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.col-3 {
  width: 28%;
  padding: 1rem 1rem;
}
.col-3.media {
  height: 400px;
}
.col-2 {
  width: 40%;
  padding: 1rem 2rem;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.pb0 {
  margin-bottom: 0;
  padding-bottom: 0;
}
.logo a {
  text-decoration: none;
  color: #134ecc;
  font-weight: 500;
  font-size: .3em;
}
.white a {
  color: white;
}
.clean {
  text-decoration: none;
}
a.arrow :last-child {
  margin-left: 1rem;
  vertical-align: middle;
}
a.arrow:hover :last-child {
  transform: translateX(3rem) rotateX(175deg);
}
.cta a {
  font-size: 1.999em;
  color: #FF6B61;
  text-decoration: none;
  position: relative;
}
.cta a span:hover {
  color: #FF6B61;
  box-shadow: inset 0 -0.3em 0 0 rgba(255, 107, 97, 0.34);
  outline: none;
  border: none;
  text-decoration: none;
  font-style: italic;
}
.cta a span:active {
  box-shadow: none;
  text-decoration: none;
  color: #4A90E2;
}
.cta a span:visited {
  font-weight: 300;
  text-decoration: line-through;
}
nav {
  text-align: right;
}
nav a {
  color: #134ecc;
  transition: all ease .23s;
  font-weight: 500;
  transform: translateY(-10px);
}
nav a:not(:last-of-type) {
  margin-right: 2rem;
}
nav a:hover {
  color: #FF6B61;
  box-shadow: inset 0 -0.3em 0 0 rgba(255, 107, 97, 0.34);
  outline: none;
  border: none;
  text-decoration: none;
  font-style: italic;
}
nav a:active {
  box-shadow: none;
  text-decoration: none;
  color: #4A90E2;
}
nav a:visited {
  font-weight: 300;
  text-decoration: line-through;
}
.a-hover {
  color: #FF6B61;
  box-shadow: inset 0 -0.3em 0 0 rgba(255, 107, 97, 0.34);
  outline: none;
  border: none;
  text-decoration: none;
  font-style: italic;
}
.a-active {
  box-shadow: none;
  text-decoration: none;
  color: #4A90E2;
}
.a-visited {
  font-weight: 300;
  text-decoration: line-through;
}
.di {
  display: inline;
}
.dib {
  display: inline-block;
}
.space {
  border: none;
  margin: 4rem;
}
.ts {
  transition: all ease .43s;
}
.ts.long {
  transition-duration: 1s;
}
.hidden {
  display: none;
}
.z2 {
  z-index: 2;
}
.margin-0-recursive *:not(:first-child) {
  margin: 0 !important;
}
.x {
  transform: rotate(45deg);
}
.xr {
  transform: rotate(-45deg);
}
.v {
  transform: rotate(90deg);
}
.slider-down {
  top: 0;
}
.slider-up {
  top: -200px;
}
