.line {
  border: none;
  border-top: 1px solid white;
  &.blue {
    border-color: @blue;
  }
  &.dark-grey{border-color:rgb(184, 184, 184)}
  &.dashed{border-width: thick; border-style: dashed none none none}
}

.icon{
  max-height: 2rem;
  max-width: 3rem;
}

.col-3 {
  iframe {
    overflow: hidden;
    position: absolute;
  }
}

.panels{
  div.white{
    padding: 0 4rem 4rem 4rem;
    @media @mobile {
      padding: 8.5%;
    }
  }
  padding: 0 8.5%;
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  .panel {
    position: relative;
    width:50%;
    box-sizing: border-box;
    &.copy {
      padding: 0 4rem 2rem 4rem;
    }
    &.img {
      overflow:hidden;
      max-height: 400px;
      img {
        width:150%;
      }
    }
  }
  @media @tablet {
    flex-direction: column;
    padding: 0;
    .panel {
      width:100%;
      &.copy{
        padding: 0 8.5% 2rem 8.5%;
      }
    }
  }
}

.panel&.img&:not(.clean)::after{
  content: '';
  position: absolute;
  background: rgba(255, 107, 97, 0.36);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow:hidden;
}

.play-button{
  text-decoration: none;
  font-weight: 900;
  .ts;
  &:hover{
    margin-left: .9rem;
  }
}
.play-button:after {
  content:'';
  position: absolute;
  transform:translateX(-24px)translateY(-4px);
  border: 1px solid white;
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
}

.main-content-top {
  z-index: 2;
  margin-top:2rem;
  margin-bottom: 0;
}

.main-video {
  width:100%;
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: -1;
  @media @mobile {
    height: 100%;
    // left: -260%;
  }
  video {
    object-fit: cover;
    // width:100%;
    @media screen and (min-width: 100px) and (max-width: 800px) {
      height: 100%;
      // display:none;
      left: -260%;
    }
  }
}

.main-video:before{
  content: '';
  position: absolute;
  background: rgba(30, 54, 125, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.map {
  background-image: url('../img/map-2.svg');
  background-size: 80%;
  background-position: center bottom, center;
  background-repeat: no-repeat;
  position: relative;
  .tc;
  img {
    max-width: 80%;
  }
  :nth-child(1) {
    bottom: 18%;
    right: 50%;
  }
  :nth-child(2) {
    bottom: 28%;
    left: 5%;
  }
  :nth-child(3) {
    top:36%;
    right: 10%;
  }
  :nth-child(4) {
    top: 10%;
    right: 5%;
  }
  :nth-child(5) {
    top: 15%;
    right: 20%;
  }
  :nth-child(6) {
    bottom: 10%;
    right: 15%;
  }
  :nth-child(7) {
    bottom: -5%;
    left: 45%;
    height: 5.5rem;
  }
  :nth-child(8) {
    bottom: 50%;
    left: 30%;
  }
  :nth-child(9) {
    bottom: -10%;
    right: 20%;
  }
  @media @mobile {
    .program-label {
      position: relative;
      display: block;
      top: 0;
      left:0;
      right: 0;
      bottom: 0;
      width: 100%;
      margin: 1rem 0;
      padding: 1rem 0;
      height: auto;
    }
    background:none;
    img {
      display:none;
    }
  }
}

#team{
  .auto-grid{
    img{
      max-width: 8em;
      margin-bottom:1em;
      border-radius: 50%;
    }
  }
}

.wedge {
  height: 30px;
  width: 30px;
  transform: translateX(2rem) rotate(45deg);
}

.vig-blue{
  max-width:100%;
  box-shadow: 0 0 200px @light-blue inset;
}
