body {
  padding: 0;
  margin: 0;
}

header {
  padding: 1rem 8.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    img {width: 8rem;}
  }
  @media @mobile {
    align-items: flex-start;
    flex-direction: column;
    padding: 4rem 8.5% 2rem;
    .logo {
      img {width: 12rem;}
    }
  }
}

#head {
  position:relative;
}

.main-content-top {
  z-index: 2;
}

.fix-top{
  position: fixed;
  z-index: 1;
}

section {
  .fade-in;
}

.panel&.img::after{
  content: '';
  position: absolute;
  background: rgba(255, 107, 97, 0.36);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow:hidden;
}

.full {
  padding: 2rem 8.5% 6rem;
  &.thin{
    padding-bottom:2rem;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col-3 {
  width: 28%;
  padding: 1rem 1rem;
  &.media {
    height: 400px;
    .play-button {
      span{
        margin-left: 1rem;
      }
    }
    h3 {
      .h2;
      font-weight: 500;
      margin-bottom: 0;
    }
    p {margin-top: .15rem;}
    @media @mobile {
      flex-basis: 100%;
    }
  }
}

.col-2 {
  width: 40%;
  padding: 1rem 2rem;
  @media @mobile {
    width: 100%;
  }
}

.auto-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  &.start{
    justify-content: flex-start;
  }
  @media @mobile {
    justify-content: space-around;
  }
  li {
    // padding: 1rem 2rem;
    min-width: 15rem;
    flex-basis: 32%;
    div.quote {
      padding: 1rem 2rem;
      position:relative;
    }
    @media @mobile {
      flex-basis: 100%;
      margin-bottom: 2rem;
    }
    .quote:before{
      content:'"';
      font-size: 5rem;
      position: absolute;
      font-color: white;
      top:0rem;
      left: 1rem;
      opacity:.4;
    }
    .quote:after{
      content:'"';
      font-size: 3rem;
      position: absolute;
      font-color: white;
      bottom:-1rem;
      right: 2rem;
      opacity:.4;
    }
  }
  &.secondary {
    li {
      margin-top: 4em;
    }
  }
}

.grid {
  ul {
    .auto-grid;
    .start;
    .compact;
    li {
      .bg-blue;
      .white;
      padding: 1.414em;
      margin-right: 1em;
    }
  }
  h2 {
    .redline;
  }
  span {
    .h5;
    display:block;
  }
}

.flex-between{
  display:flex;
  justify-content: space-between;
}

.pb0{margin-bottom: 0; padding-bottom:0;}

footer{
  .bg-white;
  display: flex;
  flex-direction: row;
  .full;
  .thin;
  .dark-blue;
  .font-small;
  @media @mobile {
    flex-direction: column;
  }
}
